.head {
    font-size: 96px;
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

/* .navbar-border {
    border: 10px ridge blue;
} */

.navbar-expand-md {
    margin-left: 10px;

}

.navbar-toggler {
    margin: auto;
}

.profile {
    background-color: rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 300px;
    margin-left: 20px;
    border-radius: 5%;
    box-shadow: inset -8px -8px 0px black;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
}

.head_shot {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    border: 5px outset rgb(0, 0 ,0);
}

.info {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    float: right;
    color: white;
    text-shadow: 2px 2px 2px black,
                 2px -2px 2px black;
}

.name {
    font-size: 32px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    color: white;
    margin-top: 25px;
    float: right;
}